.contactcontainer{
    position: relative;
    width:100%;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.item{
    width:100%;
    height:70vh;
    max-width: 920px;
    background-color:rgb(255, 255, 255) ;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index:1000;
}
.contact{
    background-color: rgb(255, 255, 255);
}
.submit-form{
    background-color: #FFC300;
    padding-top: 10px;
}
.left-text{
    padding-left: 80px;
    padding-top: 30px;
    font-size: 30px;
    color: rgb(203, 209, 10);
}
.image{
    height:320px;
    width:320px;
    padding-left:100px;
    padding-right: 2px;
    padding-top: 50px;
    align-items: center;
}
.submit-form>h5{
    font-size: 25px;
    position :relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: white;
    padding-left: 30px;
}
form{
    padding:0 50px;
    height:100%;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}
.input-box{
    height:40px;
    width: 70%;
    margin:30px 0;
    position: relative;
    

}  
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
} 
.input1{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    height: 180px;
    width: 260px;
    resize: none;
    min-height: 180px;
    overflow: auto;
} 
.input-box>label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left:10px ;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.btn{
    position: relative;
    top: 150px;
    background: #fff !important;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 30%;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}
.input-box .input:focus ~label,
.input-box .input:valid ~label{
    top: -1px;
    left: 10px;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}