@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Sofia+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Sofia+Sans+Condensed:wght@300&display=swap');
.header{
    display:flex;
    align-items: center;
    color:black;
    background-color: rgba(193, 190, 190, 0.951);
    top:0;
    position: sticky;
    z-index: 30000;
}
.header-left{
    flex:0.4;
}
.header-left > h1{
    text-align:left;
    font-family: "Alata",sans-serif;
    letter-spacing: 1px;
    padding: 3px;
    padding-left: 100px;
    font-size: 40px;
    color: #bef50c;
}
.a{
    color: #37b600;
}
.header-right{
    display: flex;
    flex:0.6;
    justify-content: space-evenly;
    align-items: center;
}
.header-right > a > h5{
    font-size: 19px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}
.header-right > a > h5:hover{
     transform: scale(1.07);
     background-color:#97f806;
     color: black;
     padding: 5px 20px;
     border-radius: 2px;
     letter-spacing: 1px;
}